.colorChange {
    padding: 50px;
    position: relative;        
    font-family: sans-serif;
  }

.default {
    /* 配置の設定 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
  }

.color1 {
    /* 配置の設定 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }

.color2 {
    /* 配置の設定 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }